<!-- <div class="mat-display-4">This is mat-display 4</div>
<div class="mat-display-3">This is mat-display 3</div>
<div class="mat-display-2">This is mat-display 2</div>
<div class="mat-display-1">This is mat-display 1</div>

<div class="mat-hendline-1">This is mat-display h1</div>
<div class="mat-title-2">This is mat-display h2</div>
<div class="mat-Subheading-3">This is mat-display h3</div>
<div class="mat-hendline-4">This is a heading for h4 </div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text </div>
<div class="mat-body-3">This is caption text </div> -->

<div>
  <button mat-button>click me!</button>
  <button mat-raised-button>click me!</button>
  <button mat-flat-button>click me!</button>
  <button mat-stroked-button>click me!</button>
 </div>

 <div>
   <button mat-icon-button>Icon</button>
   <button mat-fab>fab</button>
   <button mat-mini-fab>Minifab</button>
 </div>

 <div>
 <button color="primary" mat-button>primary</button>
 <button color="accent" mat-button>Accent</button>
 <button color="warn" mat-button>Warn</button>
 <button color="primary" mat-raised-button>primary</button>
 <button color="accent" mat-raised-button>Accent</button>
 <button color="warn" mat-raised-button>Warn</button> 
 </div>

 <div>
   <mat-button-toggle></mat-button-toggle>
 </div>